main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  width: 80%;
  padding: 5rem 0;
  height: auto;
}

main section header h2 {
  margin-top: -1rem;
}

main section header img {
  width: 18rem;
  position: relative;
  left: 3rem;
  bottom: 2rem;
  z-index: -1;
}

nav {
  background-color: var(--backdrop-color);
  border-radius: 4rem;
  border: 2px solid var(--primary-color);
  padding: 1rem;
  box-sizing: border-box;
  width: 40%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 2rem;
  z-index: 2;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div a img {
  height: 2.5rem;
}


nav div span {
  opacity: 0;
  transition: opacity 0.4s ease;
  width: 8rem;
  height: 2.5rem;
  background-color: var(--backdrop-color);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 10vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div:hover span {
  opacity: 1;
}

nav div span:hover {
  opacity: 0;
}

nav div span::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: calc(50% - 7px);
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent var(--primary-color) transparent;
}

div.nav-blur {
  border-radius: 4rem;
  background-color: rgb(0, 0, 0, 0.9);
  padding: 1rem;
  width: 41.5%;
  height: 6.5rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 1.25rem;
  backdrop-filter: blur(5px);
  filter: blur(10px);
  z-index: 1;
}

main section#head {
  padding-top: 14rem;

  & > div {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		& > div {
			margin-bottom: 1rem;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			animation: glitch 5s 5s infinite;

			& > img {
				width: 600px;
			}
		}

		& > p {
			color: #fff;
			text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 300;
			letter-spacing: 1em;
			text-align: center;
			position: relative;
			margin-top: 2rem;
			animation: text-glitch 5s 5.02s infinite;
		}

		& > div::before, div::after {
			content: "";
			height: 100%;
			width: 100%;
			background-image: url(../assets/images/logo-hue.png);
			background-size: 600px;
			background-repeat:no-repeat;
      background-position: center; 
			position: absolute;
		}

		& > div::before {
			filter: hue-rotate(100deg);
			z-index: -2;
			left: 3px;
			animation: noise-before 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
		}

		& > div::after {
			filter: hue-rotate(200deg);
			z-index: -1;
			left: -3px;
			animation: noise-after 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
		}
	}
}

main section#line-up header {
  margin-bottom: 3rem;
}


main section#line-up  {
  & > div {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;

    & > div {
      flex: 0 0 120px;
      border-radius: 0.5rem;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      box-shadow: 1px 5px 15px #f1e90010;
      position: relative;
      overflow: hidden;
    }

    & > div:nth-of-type(1) {
      background: url(../assets/images/artists/omnya-post.png.png) no-repeat 50% / cover;
    }
    & > div:nth-of-type(2) {
      background: url(../assets/images/artists/collusion_revelation-post.png) no-repeat 50% /
        cover;
    }
    & > div:nth-of-type(3) {
      background: url(../assets/images/artists/infliction_unload-post.png) no-repeat 50% /
        cover;
    }
    & > div:nth-of-type(4) {
      background: url(../assets/images/artists/vasto-post.png) no-repeat 50% / cover;
    }

    & > div:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #f1e9006e;
      transform: translatey(-30px);
    }
  }
}

main section#tickets {
  position: relative;

  & .stars-container > img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  & .stars-container > a {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #fff;
    text-decoration: none;
    padding: .6rem 2rem;
    min-width: 152px;
    background-color: var(--backdrop-color);
    border: var(--primary-border);
    border-radius: 2rem;
  }
}


main section#team {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(2, 200px);
  gap: 3rem;

  & header p {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    text-align: center;
  }

  & .member {
    background-color: var(--backdrop-color);
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;

    & img {
      height: 100%;
      margin-right: 1rem;
      border-radius: 1rem;
      
    }

    & aside p {
      color: var(--text-color);
      font-size: 1rem;
      font-weight: 100;
      letter-spacing: 0.5rem;
    }

    & aside div {
      display: flex;
      align-items: center;
      margin: 1rem 0 0 -5px;

      & i {
        font-size: 2rem;
        color: var(--text-color);
        font-weight: 500;
      }

      & a {
        font-size: 1rem;
        cursor: pointer;
        color: var(--text-color);
        font-weight: 500;
        text-decoration: none;
      }
    }
  }
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .footer-main {
    display: flex;
    justify-content: space-between;
    width: 70%;

    & > img {
      height: 8.5rem;
      align-self: center;
    }

    & aside {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: start;
      gap: 2rem;

      & div {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: 100%;

        & a {
          color: var(--primary-color);
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 500;
          display: flex;
          align-items: center;

          & i {
            color: var(--primary-color) !important;
            font-size: 1rem;
            font-weight: 300;
          }
        }

        & p {
          color: var(--text-color);
          text-decoration: none;
          font-size: 1.2rem;
          margin: 1rem 0 0 0;
        }
      }
    }
  }

  & hr {
    width: 80%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--primary-color);
    margin: 4rem 0;
  }

  & aside {
    width: 50%;
    display: flex;
    justify-content: space-around;

    & div.eternalbass-instagram {
      background-color: var(--backdrop-color);
      border-radius: 4rem;
      border: 2px solid var(--primary-color);
      padding: .5rem 1.5rem;
      display: flex;
      align-items: center;

      & i {
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 500;
        margin-right: .5rem;
      }

      & a {
        font-size: 1rem;
        cursor: pointer;
        color: var(--text-color);
        font-weight: 500;
        text-decoration: none;
      }
    }
  }

  footer i {
    color: var(--primary-color) !important;
    font-size: 1rem;
    font-weight: 300;
  }

  & p {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 200;
    margin: 3rem 0 2rem;
  }
}
